<div
class="absolute top-0 w-full h-full bg-center bg-cover"
style="
  background-image: url('https://img.freepik.com/free-vector/hand-drawn-fortune-cookie-pattern_23-2149247689.jpg?w=2000');
"
>
<span
        id="blackOverlay"
        class="w-full h-full absolute opacity-75 bg-black"
      ></span>  

<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-4/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
      >
      <button class="text-red-500 background-transparent font-bold uppercase px-8 py-3 outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
        <i class="fas fa-stopwatch"></i> Time 'till next fortune: @Time
      </button>
      </div>
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
      >
        <div class="rounded-t mb-0 px-6 py-6">
          <div class="text-center mb-3">
            <h6 class="text-blueGray-500 text-sm font-bold">Eat a Cookie to write and Receive a fortune!</h6>
          </div>
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
      >
      <button class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-base px-8 py-3 rounded shadow-md hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" [routerLink]="['/auth/eatcookie']">
        <i class="fas fa-cookie-bite"></i> Eat a Cookie
      </button>
      <button class="bg-red-500 text-white active:bg-red-600 font-bold uppercase text-base px-8 py-3 rounded shadow-md hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" [routerLink]="['/auth/pastfortunes']">
        <i class="fas fa-mail-bulk"></i> View Past Fortunes
      </button>
      <button class="text-red-500 bg-transparent border border-solid border-red-500 hover:bg-red-500 hover:text-white active:bg-red-600 font-bold uppercase px-8 py-3 rounded-full outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
        Logout
      </button>
        </div>
      </div>
    </div>
  </div>
</div>

